* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

body {
  font-size: 32px;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
}

body::before {
  animation: rotate 6s linear infinite;
  background: conic-gradient(
      red 0deg 60deg,
      blue 60deg 120deg,
      red 120deg 180deg,
      blue 180deg 240deg,
      red 240deg 300deg,
      blue 300deg 360deg
    )
    center center;
  bottom: -100%;
  content: '';
  left: -100%;
  position: absolute;
  right: -100%;
  top: -100%;
}

main {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  position: relative;
  text-shadow: -0.05em -0.05em 0.05em black, +0.05em -0.05em 0.05em black,
    -0.05em +0.05em 0.05em black, +0.05em +0.05em 0.05em black;
}

h1 {
  font-size: 12rem;
  font-weight: bold;
  margin-block-end: 3rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav a {
  position: relative;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a:not(:last-of-type)::after {
  content: '·';
  pointer-events: none;
  position: absolute;
  left: 100%;
  text-align: center;
  text-decoration: none;
  width: 2rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
